.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    

}
.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_info{
    padding-left: 20px;
 
}
.checkoutProduct_info>button{
    background-color:  #f8c65b;
    border: 1 px solid rgb(88, 86, 86);
    max-width: 150px;
}
.cheakoutProduct_rating{
    display: flex;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}